<div [ngClass]="{'sidenav-show': showSidebar === true ,
                 'sidenav-hide': showSidebar === false}" id="mySidenav">
  <button type="button" name="button" class="btn btn-danger closebtn" (click)="closeSideBar()">&times;</button>
  <label for="pageList" class="nav-header">Pages</label>
  <a *ngIf="currentUserType === 'owner' || currentUserType === 'admin'" [routerLink] = "['/admin-portal']" routerLinkActive="['active']">Admin Portal Home</a>
  <a [routerLink] = "['/reviewer-portal']" routerLinkActive="['active']" (click)="setHomeTrue()">Reviewer Portal Home</a>
  <a [routerLink] = "['/reviewer-portal/proposal-pending']" routerLinkActive="['active']" (click)="setHomeFalse()">Proposals Pending</a>
</div>

<button type="button" class="btn btn-primary open-nav-btn" (click)="show()">open nav <span class="glyphicon glyphicon-triangle-right"></span></button>

<div [ngClass]="{'main-show': showSidebar === true ,
                 'main-hide': showSidebar === false}">
  <div class="container-fluid">
   <div class="col-sm-9 col-md-10 main">
     <div *ngIf="reviewerHome">
       <h1 class = "welcometitle">Welcome To Reviewer Home Page</h1>
     </div>
     <router-outlet></router-outlet>
   </div>
 </div>
</div>
