<h2>{{ application.username }}</h2>
<h4>{{application.fname}} {{application.lname}}</h4>
<div>{{application.highdegree}}</div>
<div>{{application.likability}}</div>
<div>{{application.pickout}}</div>
<div class="tools">
  <button type="button" name="button" class="delete" (click)="reject(application)">Reject</button>
  <button type="button" name="button" class="pending" (click)="pending(application)">Pending...</button>
  <button type="button" name="button" class="details" (click)="approve(application)">Approve</button>
</div>
