<div class="container-fluid">
   <div class="row">
     <div class="col-sm-3 col-md-2 sidebar">
       <ul class="nav nav-sidebar">
         <li class="active"><a (click)="setHomeTrue()" routerLink = "/admin-portal" routerLinkActive="active">Admin Portal Home<span class="sr-only">(current)</span></a></li>
       </ul>
       <ul class="nav nav-sidebar">
         <li ><a (click)="setHomeFalse()" routerLink = "/admin-portal/admin-overview" routerLinkActive="active">Overview</a></li>
         <li><a href="#">Reports</a></li>
         <li><a href="#">Analytics</a></li>
         <li><a href="#">Export</a></li>
       </ul>
       <ul class="nav nav-sidebar">
         <li><a href="">Nav item</a></li>
       </ul>
     </div>
   </div>
   <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <div *ngIf="adminHome">
       <h1>Welcome To Admin Home Page</h1>
     </div>
     <router-outlet></router-outlet>
   </div>
</div>
