<header>
  <h2>Register to be a Reviewer</h2>
</header>
<div *ngIf="!isSubmitting" class="reviewerPrompt">
  <div class="theme-text-style-headingXL"><span style="font-size:16px;"><span style="font-size:34px;">Criteria for evaluating submissions:</span></span><br></div>
  <div class="theme-text-style-headingM"><span style="font-size:18px;">The proposal/proposed presentation:</span><br></div>
  <div>
    <ul>
      <li class=""><span style="font-size:18px;">Is clear, is well written, and includes all required information.</span><br></li>
      <li class=""><span style="font-size:18px;">Has potential appeal to audience from many disciplines.&nbsp;</span><br></li>
      <li class=""><span style="font-size:18px;">Adheres to the symposium's theme (includes a focus on inclusion, equity and justice).</span><br></li>
      <li class=""><span style="font-size:18px;">Will advance participants’ awareness, knowledge, and/or skills relating to cultural diversity issues.</span></li>
      <li class=""><span style="font-size:18px;">Will promote effective and innovative practices.</span></li>
    </ul>
  </div>
  <button type="button" (click)="reviewerApp()" name="button" id="becomeReviewer" class="btn btn-primary btn-lg">Become A Reviewer Today</button>
</div>

<div *ngIf="isSubmitting" class="reviewerApplication">
  <button type="button" (click)="reviewerApp()" name="button" id="becomeReviewer" class="btn btn-danger btn-lg">Cancel Application</button>
  <form
    [formGroup] = "form"
    (ngSubmit)="submit(form.value)">

    <ul>
      <div class="userInfo">
        <h4>User Information</h4>

        <div class="fullname">
          <li>
            <label for="firstName">First Name</label>
            <input required type="text" class="form-control" name="firstname" id="fname" placeholder="First Name" formControlName ="fname" required>
          </li>
          <li>
            <label for="mi">Middle Initial</label>
            <input required type="text" class="form-control" name="mi" id="mi" placeholder="Middle Initial" formControlName ="mi">
          </li>
          <li>
            <label for="lname">Last Name</label>
            <input required type="text" class="form-control" name="lname" id="lname" placeholder="Last Name" formControlName ="lname" required>
          </li>
        </div>

        <div class="school">
          <h4>School Information</h4>
          <li>
            <label for="university">University</label>
            <select required name="univ" id="univ" formControlName ="univ" required>
              <option value="" disabled selected>Select your Institution</option>
              <option value="Not in Indiana">Other</option>
              <option *ngFor="let institution of institutions" value="{{institution.institution}}">{{institution.institution}}</option>
            </select>
          </li>
          <li>
            <label for="department">Department</label>
            <input required type="text" class="form-control" name="department" id="department" placeholder="department" formControlName ="department" required>
          </li>
          <li>
            <label for="discipline">Discipline</label>
            <input required type="text" class="form-control" name="discipline" id="discipline" placeholder="discipline" formControlName ="discipline" required>
          </li>
          <li>
            <label for="subdiscipline">Subdiscipline</label>
            <input required type="text" class="form-control" name="subdiscipline" id="subdiscipline" placeholder="subdiscipline" formControlName ="subdiscipline" required>
          </li>
        </div>

      </div>

      <div class="additional">
        <h4>Additional Information</h4>
        <li>
          <label for="phoneNumber">Phone Number</label>
          <input required type="text" class="form-control" name="pnum" id="pnum" placeholder="(###) ### - ####" formControlName ="pnum">
        </li>
      </div>

    </ul>

    <br>

    <button type="submit" class="btn btn-default">Register as Reviewer</button>
  </form>
</div>
