
<br><br><br>
<div id="world-premiere">
  <div class="heading">
    <h2>Time is Running out</h2>
    <h1>Submit Your Proposals</h1>
  </div>
  <div class="my-countdown"></div>
  <br><br>
  <button type="button" class="btn btn-primary btn-lg btn-block"
          routerLink = "/login" routerLinkActive="active">Submit Proposal</button>
  <br><br><br><br>
</div>



    <carousel>
      <slide>
        <img src="../../assets/big_logo.jpg" alt="First slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img src="../../assets/previousLogo/2010.jpg" alt="Second slide">
        <div class="carousel-caption">
            <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
      <slide>
        <img src="../../assets/previousLogo/2013.jpg" alt="Third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
    </carousel>
    <br><br><br><br>
    <br><br>
