#main-page{
  font-size: 16px;
  width: 500px;
  margin: 10% auto;
  height: 300px;
  border: 1px solid rgba(255,255,255,.2);
}
#main-page h1{
  font-size: 4.2em;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 70px;
  margin: 0 0 0 -5px;
  padding: 0;
  text-align: center;
}

#main-page h2{
  font-size: 1.5em;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 9px;
}

#main-page .my-countdown{
  display: inline-block;
  text-align: center;
  font-size: 1.8em;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper{
  height: 100%;
  width: 100%;
}
.main-page {
  align-items: stretch;
}
