<header>
  <h2>Register an Account</h2>
</header>

<form
  [formGroup] = "form"
  (ngSubmit)="submit(form.value)">

  <ul>
    <div class="requiredInfo">
      <h4>Required Info</h4>
      <li>
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName = "email" />
      </li>
      <li>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName = "password" />
      </li>
      <li>
        <label for="name">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Username" formControlName ="username">
      </li>
    </div>

    <div class="userInfo">
      <h4>User Info</h4>
      <div class="fullname">
        <li>
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" name="firstname" id="fname" placeholder="First Name" formControlName ="fname">
        </li>
        <li>
          <label for="">Middle Initial</label>
          <input type="text" class="form-control" name="mi" id="mi" placeholder="Middle Initial" formControlName ="mi">
        </li>
        <li>
          <label for="">Last Name</label>
          <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name" formControlName ="lname">
        </li>
      </div>

      <div class="school">
        <li>
          <label for="university">University</label>
        </li>
      </div>

    </div>

  </ul>

  <br>




  <button type="submit" class="btn btn-default">Register</button>
</form>
